.container {
  margin: 0px;
  border: 0px;
  background-color: rgb(255, 0, 255)
}
#train-table {
  margin: 0px;
  border: 0px;
  background-color: rgb(212, 0, 255)
}
.form-group {
  margin: 0px;
  border: 0px;
  background-color: rgb(255, 0, 179)
}
#train-input {
  margin: 0px;
  border: 0px;
  background-color: rgb(255, 0, 13)
}
#destination-input {
  margin: 0px;
  border: 0px;
  background-color: rgb(255, 0, 13)
}
#time-input {
  margin: 0px;
  border: 0px;
  background-color: rgb(255, 0, 13)
}
#frequency-input {
  margin: 0px;
  border: 0px;
  background-color: rgb(255, 0, 13)
}
#add-train-btn {
  margin: 0px;
  border: 0px;
  background-color: rgb(89, 0, 255)
}